.App {
  text-align: center;
}

.overlay {
  width: 1080px;
  background-color: rgba(0, 0, 0, 0.3);  
  height: 100vh;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

.headerContents {
  position: absolute;
  // border: 2px solid green;
  justify-content: center;
}

.headerContainer {
  background-image: url('../images/brooke-lark-jUPOXXRNdcA-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.headerTitle {
  font-size: 3rem;
  color: #fff;
  margin: 0;
  padding: 3% 0;
  text-transform: capitalize;
}

.typeWord {
  font-size: 1.8rem;
  color: #fff;
  padding-bottom: 5%;
  font-weight: 900;
}

.formContainer {
  padding-bottom: 5%;
}

.formInput {
  background: #f3f3f3;
  border: 0;
  border-bottom: solid 1px #FF7F50;
  margin-right: 10px;
  letter-spacing: 1.5px;
  padding: 1%;
  font-size: 15px;
  width: 35%;
}


.formButton {
  border: solid 2px #FF7F50;
  background: #FF7F50;
  color:#fff;
  padding: 1%;
  margin: 0 5px;
  border-radius: 1px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 15px;
}

.formButton:hover {
  border: solid 2px #ff5e00f3;
  background: #ff5e00f3;
  transition: all 0.3s;
}

input[type="text"] { 
  outline: none;
}

.backTop {
  position: absolute;
  right: 0;
  display: none;
  // bottom: 0;
  // margin-top: -15%;
  // margin-right: 5%;
  border: solid 2px #FF7F50;
  background: #FF7F50;
  padding: 1% 3%;
  color: #fff;
  font-weight: 700;
}

//MODAL STYLES

  .modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }