.App {
  text-align: center;
}

.overlay {
  width: 1080px;
  background-color: rgba(0, 0, 0, 0.3);  
  height: 100vh;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

.headerContents {
  position: absolute;
  justify-content: center;
}
//Photo by Brooke Lark on Unsplash
.headerContainer {
  background-image: url('../images/brooke-lark-jUPOXXRNdcA-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.foodieLogo {
  background: #000;
  border-radius: 50px;
  padding: 3% ;
  display: inline;
  color: #fff; 
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
   text-shadow: 1px 1px #194769, 
                2px 2px #194769, 
                3px 3px #194769;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}

.headerTitle {
  font-size: 3rem;
  color: #fff;
  margin: 0;
  padding: 3% 0;
  padding-top: 10%;
  text-transform: capitalize;
  text-shadow: 1px 1px 5px #808080;
}

.typeWord {
  font-size: 1.8rem;
  color: #fff;
  padding-bottom: 5%;
  font-weight: 900;
  text-shadow: 1px 1px 5px #808080;
}

.formContainer {
  padding-bottom: 5%;
}

.formInput {
  background: #f3f3f3;
  border: 0;
  border-bottom: solid 2px $secondaryColor;
  margin-right: 10px;
  letter-spacing: 1.5px;
  padding: 1%;
  font-size: 15px;
  width: 40%;
  
}


.formButton {
  border: solid 2px $secondaryColor;
  background: $secondaryColor;
  color:#fff;
  padding: 1% 3%;
  margin: 0 5px;
  border-radius: 1px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  margin-left: 15px;
}

.formButton i {
  margin: 0 0%;
}

.formButton:hover {
  border: solid 2px #ff5e00f3;
  background: #ff5e00f3;
  transition: all 0.3s;
}

input[type="text"] { 
  outline: none;
}

.backTop {
  position: absolute;
  right: 0;
  display: none;
  border: solid 2px $secondaryColor;
  background: $secondaryColor;
  padding: 1% 3%;
  color: #fff;
  font-weight: 700;
}

