.modalContainer {
  position: relative;
}

.modalImageContainer,
.modalContents {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.modalIngredients{
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 2px solid #d7eef2;
  position: relative;
}


.modalIngredients::-webkit-scrollbar:vertical {
    width: 11px;
}

.ingredientsButton {
  width: 50%;
  margin: 0;
  margin-top: 5%;
  border: 1px solid $secondaryColor;
}

.ingredientsButton:hover {
  background: $primaryColor;
  border: 1px solid $primaryColor;
  transition: all 0.3s;
}

.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: $tertiaryColor;
  display: flex;
  padding: 10%;
}

.scrollbar {
    background-color: purple;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.style-1::-webkit-scrollbar {
    width: 6px;
    background-color: purple;
} 

.force-overflow {
    min-height: 450px;
}

.modalImageSize {
  height: 450px;
  object-fit: cover;
  margin-right: 10%;
}

.modalImageSize img {
  height:100%;
}

.modalTitle,
.modalIngredients li {
  padding: 2% 3%;
  text-align: left;
  margin-left: 5%;
  line-height: 1.2rem;
}

.modalTitle {
  color: $primaryColor;
  padding: 0;
  padding-bottom: 2%;
  line-height: 50px;
}
