.modalContainer {
  position: relative;
}

.modalImageContainer,
.modalContents {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.modalIngredients{
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  overflow: scroll;
  border: 2px solid #d7eef2;
}


.modalIngredients::-webkit-scrollbar:vertical {
    width: 11px;
}


.ingredientsButton {
  width: 50%;
  margin: 0;
  margin-top: 5%;
}

.ingredientsButton:hover {
  background: #ff5e00f3;
  border: 2px solid #ff5e00f3;
  transition: all 0.3s;
}

.modal {
  position: fixed;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  background-color: $tertiaryColor;
  display: flex;
  padding: 10%;
}

.modalImageSize {
  height: 450px;
  object-fit: cover;
  margin-right: 10%;
}

.modalImageSize img {
  height:100%;
}

.modalTitle,
.modalIngredients li {
  padding: 2% 3%;
  text-align: left;
}

.modalTitle {
  color: $primaryColor;
  padding: 0;
  padding-bottom: 2%;
  line-height: 50px;
}
