.container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3); 
  padding-top: 5%;
}

.recipeContainer {
  background: #fff;
  padding-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  width: 30%;
  margin: 1.5%;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipeTitle {
  color: $primaryColor;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 25px 20px;
  line-height: 25px;
}

.recipePublisher {
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight:400;
  padding: 0 30px;
  padding-bottom: 5%;
  line-height: 25px;
}

.publisher {
  font-weight: 700;
}

.recipeButton,
.ingredientsButton, 
.closeButton {
  border: solid 2px #f2855e;
  background: #f2855e;
  color:#fff;
  padding: 10px 0px;
  border-radius: 1px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 2% 0;
}

.recipeButton {
  margin-top: 5%;
}

.recipeButton:hover {
  border: solid 2px #f1480b;
  background: #f1480b;
  transition: all 0.3s;
}

.ingredientsButton {
  width: 200px;
  font-weight: 700;
  border: solid 2px $secondaryColor;
  background: $secondaryColor;
}

.closeButton {
  background: $primaryColor;
  border: solid 2px $primaryColor;

}
.closeButton:hover {
  background: #126fb3;
  border: solid 2px #126fb3;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}
